# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
/build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
**/CMakeFiles/

CMakeScripts
Testing

Makefile
**/Makefile

cmake_install.cmake
*.cmake
**/cmake_install.cmake

install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore IDE-specific files (like for CLion, Visual Studio Code, etc.)
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files
*.log
*.swp
*.bak
*.tmp
*~